:root{
    --bg:#1A1A1B;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: Verdana;
    background-color:#030303;
}
header{
    display: flex;
    width: 100%;
    position: fixed;
    height: 50px;
    background-color: var(--bg);
    border-top: #343536 solid 1px ;
    border-bottom: #343536 solid 1px ;
    align-items: center;
    justify-content: space-around;
}

header input{
    background-color: transparent;
    border: none;
    height: 40px;
    width: 500px;
}


.bar{
    height: 40px;
    width: 650px;
    display: flex;
    align-items: center;
    background-color: rgb(39, 39, 41);
    border-radius: 50px 50px;
    border: solid 1px rgb(52, 53, 54);
    height: 40px;
    width: 650px;
}
.bar:hover{
    border-color: snow;
}

header input:active ~ .bar{
    background: red;
}



header button{
    width: 120px;
    height: 33px;
    font-size: 15px;
    border-radius: 10px
}

.orange{
    border-radius: 50px;
    background-color: orangered;
    color: whitesmoke;
    border: none;

}

.app{
    border-radius: 50px;
    border: none;
    background-color: whitesmoke;
    color:#030303 ;
}

main{
    padding-top: 50px;
    display: flex;
    flex-wrap: wrap;
}

.menu{
width: 15%;
position: fixed;
background-color: var(--bg);
display: flex;
flex-direction: column;
height:calc(100vh - 40px);
}

.gluwna{
width: 90%;
}
.join{
    position: absolute;
    bottom:2px;
    display: grid;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    padding: 30px;
}

.join p{
    color: rgb(218, 212, 212);
}

.join button{
    width: 100px;
    height: 30px;
}