:root{
    --bg:#1A1A1B;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: Verdana;
    background-color:#030303;
}
header{
    display: flex;
    width: 100%;
    position: fixed;
    height: 50px;
    background-color: var(--bg);
    border-bottom: #343536 solid 1px ;
    align-items: center;
    justify-content: space-between;
}

header input{
    margin-left: 10px;
    background-color: transparent;
    border: none;
    height: 40px;
    width: 100%;
    outline: none;
    font-size: 15px;
    color: #818384;
}

header img{
    margin-left: 5%;
    height: 80px;
    filter: brightness(100%);
    filter: grayscale(100%);
}

.search{
    margin-right: 5%;
}

.bar img{
    margin-left: 10px;
    width: 25px;
    height: 25px;
}



.bar{
    height: 40px;
    width: 650px;
    display: flex;
    align-items: center;
    background-color: rgb(39, 39, 41);
    border-radius: 50px 50px;
    border: solid 1px rgb(52, 53, 54);
    height: 40px;
    width: 650px;
}


.bar:has(input:focus),
.bar:hover{
    border-color: snow;
}

header button{
    width: 120px;
    height: 33px;
    font-size: 15px;
    border-radius: 10px
}

.orange{
    border-radius: 50px;
    background-color: orangered;
    color: whitesmoke;
    border: none;
    cursor: pointer;

}

.app{
    border-radius: 50px;
    border: none;
    background-color: #D7DADC;;
    color:#0f1a1c; ;
    cursor: pointer;
}

main{
    padding-top: 50px;
}

.menu{
width: 15%;
position: fixed;
background-color: var(--bg);
display: flex;
flex-direction: column;
height:calc(100vh - 40px);
}

.gluwna{
float: right;
display: flex;
justify-content: center;
flex-direction: column;
align-items: center;
width: 85%;
height: auto;
}

.content{
    padding-top: 30px;
    width: 60%;
    height: auto;
    display: flex;
    gap: 20px;
    flex-direction: column;
}

.content p{
    color: #D7DADC;
    font-size:15px;
}


.tren div{
    width: 25%;
    height: 200px;
    border-radius: 15px;
    cursor: pointer;
    filter: grayscale(40%);
    overflow: hidden;
    transition: 0.5s;
    position: relative;
}

.tren div:hover{
    filter: grayscale(0%);
}

.tren{
    gap: 10px;
    display: flex;
    width: 100%;
    height: auto;
}

.b p{
    position: absolute;
    bottom: -50px;
    transition: 0.5s;
    font-size: 20px;
    text-shadow: black 5px 5px 5px;
}

.b:hover p{
    bottom: 20px;
}



.one{
background-image: url(Japan.jpg);
background-size: cover;
}
.two{
background-image: url(shark.jpg);
background-size: cover;
}
.three{
background-image: url(walkie-talkie.jpg);
background-size: cover;
}
.four{
background-image: url(washer.jpg);
background-size: cover;
}



.flex{
    display: flex;
    gap: 35px;
}

.media{

    width: 70%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.media div:nth-child(1){
    height: 70px;
}



.media div{
    width: 100%;
    border-radius:8px;
    height: 300px;
    background-color:#1A1A1B;
    border: 1px solid #343536;
}
.stop{
    width: 30%;
    height: auto;
}





.join{
    position: absolute;
    bottom:0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    padding: 30px;
    gap: 20px;
}

.join p{
    color: rgb(218, 212, 212);
    font-size: 15px;
}

.join button{
    width: 100%;
    height: 40px;
    font-size: 17px;
}

.menu > button{
    background:transparent;
    border: none;
    cursor: pointer;
    color:rgb(218, 212, 212) ;
    display: flex;
    padding-left: 20px;
    align-items:center;
    font-size: 15px;
    padding:5px;
}

.menu > p{
    color: #343536;
    font-size: 10px;
    margin: 20px;
}

button>img{
    width: 25px;
    height: 25px;
    margin-left: 20px;
}

.menu > button::after{
    content:'';
    width: 5px;
    height: 5px;
    position: absolute;
    right: 20px;
    border-top: rgb(218, 212, 212) 2px solid;
    border-right: rgb(218, 212, 212) 2px solid;
    transform: rotate(-45deg);
    margin-top: 5px;
}

.stop{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.stop .flex{
    gap:5px;
    border-bottom: 1px solid #808080;
    padding: 10px;
    margin: 5px;
}

.flex p{
    color: #808080;
    font-size: 12px;
    width: 50%;
}
.stop p{
    color: #808080;
    font-size: 12px;
    width: 100%;
}

.stop div:nth-child(1){
    width: 100%;
    border-radius:8px;
    height: 300px;
    background-color:#1A1A1B;
    border: 1px solid #343536;
}
.s{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px;
}

details{
    color:rgb(218, 212, 212);
    font-size: 10px;
    padding: 10px;
}

.lista{
display: flex;
flex-wrap: wrap;
gap: 10px;
}

ul{
    margin-top: 15px;
    list-style: none;
}
a{
    font-size: 12px;
    text-decoration: none;
    color: rgb(218, 212, 212);
}

.lista a:hover{
    text-decoration: underline;
}